[Desktop Entry]
Type=Application
Name=Bible
Comment=Read the Bible
GenericName=Bible
Exec=com.github.draftheart.bible
Icon=com.github.draftheart.bible
Terminal=false
X-GNOME-Gettext-Domain=com.github.draftheart.bible
X-GNOME-UsesNotifications=false
Categories=Education;
Keywords=Bible;Holy;Religion;
